@charset "utf-8";

#headerUp {
	background-color: #f2f2f2;
	color: black;
}

body {
	margin: 20px 20px 20px 20px;
	background-color: black;
	color: white;
	font-family:'Gloria Hallelujah', cursive;
	font-size: 20px;
}

a {
	color: red;
}

aside {
	background-color: #f2f2f2;
	color: black;
	position: absolute;
  	float: left;
	width: 25%;
	height: 20%;
	bottom: -200px;
	right: 50px;
	
}

.submenu>li {
	list-style-type: disc;
}

.mainMenu>li {
	display: table-cell;
}



.formIscrizione {
	border: 2px solid black;
	width:150%;
}

.form-control {
	font-size: 65%;
}

table {
	color: black;	
	border: 2px solid black;
}

td, th {
	border: 2px solid black;	
}

.table-responsive th {
	background-color: olive;
}